<div class="container">
  <div class="top-bar">
    <button class="top-bar__more icon">
      <img
        src="./assets/icons/more.svg"
        alt="more"
        class="top-bar__more--icon"
      />
    </button>
    <!-- logo -->
    <a href="./" class="logo">
      <img src="./assets/icons/Icon.svg" alt="Grocery Mart" class="logo__img" />
      <h2 class="logo__title">grocerymart</h2>
    </a>
    <!-- nav -->
    <nav class="navbar">
      <ul class="navbar__list">
        <li>
          <a href="" class="navbar__link">Departments </a>
          <img
            src="./assets/icons/arrow-down.svg"
            class="icon"
            alt="arrow-down"
          />
        </li>
        <li>
          <a href="" class="navbar__link">Grocery </a>
          <img
            src="./assets/icons/arrow-down.svg"
            class="icon"
            alt="arrow-down"
          />
        </li>
        <li>
          <a href="" class="navbar__link">Beauty </a>
          <img
            src="./assets/icons/arrow-down.svg"
            class="icon"
            alt="arrow-down"
          />
        </li>
      </ul>
    </nav>
    <!-- action -->
    <div class="top_act">
      <div class="top_act__group top_act__group--signle">
        <button class="top_act__btn">
          <img
            src="./assets/icons/search.svg"
            alt="search"
            class="top_act__icon icon"
          />
        </button>
      </div>
      <div class="top_act__group">
        <button class="top_act__btn">
          <img
            src="./assets/icons/heart.svg"
            alt="search"
            class="top_act__icon icon"
          />
          <span class="top_act__title">03</span>
        </button>
        <div class="top_act__separate"></div>
        <button class="top_act__btn">
          <img
            src="./assets/icons/shop.svg"
            alt="search"
            class="top_act__icon icon"
          />
          <span class="top_act__title">$65.42</span>
        </button>
      </div>
    </div>
    <div class="top_act__user">
      <img
        src="./assets/img/avatar.jpg"
        alt="top_act__user"
        class="top_act__user--img"
      />
    </div>
  </div>
</div>
